<%- include('partials/head') %>

<body>
<nav id="nav-menu">
    <ul>
        <li><a href="home.html">Home</a></li>
        <li>For You</li>
        <li>Discussions</li>
        <li>About</li>
    </ul>
</nav>
<main>
    <div class="full-blog">
<div class="blog-template" id="blog-title">

</div>

<div class="blog-template" id="blog-content">

</div>
<footer>
    <div class="blog-template" id="blog-response">
    <p>like</p> <p>comment</p> <p>share</p>
</div>
</footer>
</div>
</main>
</body>
</html>    