<%- include('partials/head') %>

<body>
<nav id="nav-menu">
    <ul>
        <li><a href="home.html">Home</a></li>
        <li>For You</li>
        <li>Discussions</li>
        <li>About</li>
        
    </ul>
</nav>
<h1>I named this page hom</h1>
</body>
</html>