body{
    background-color:rgb(18, 43, 29);
    color: rgba(194, 177, 177, 0.753);
}
* {
    padding: 0;
    box-sizing: border-box;
  }

/* navigation */
.menu-full{
list-style: none;
display: flex;
justify-content: space-around;
margin-top: 35px;
padding-bottom: 25px;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-weight: 700;
}
.nav-menu a{
   cursor: pointer;
   text-decoration: none;
   color:rgba(194, 177, 177, 0.753);
   position: relative;
}
.nav-menu a:hover {
    text-decoration: underline;
}
.fa-cog{
    padding-left: 14px;
}
.sub-menu-full{
    display: none;
    position: absolute;
    list-style: none;
    font-size: smaller;
    font-weight: 200;
    /* border: 2px solid black; */
    background-color: rgba(0,0,0,.3);
    /* width: 40%; */
    padding: 7px 20px 7px 20px;
    
    
}
.has-sub-menu:hover .sub-menu-full{
    display: block;
}

.has-sub-menu:hover a{
    text-decoration: none;
}

.sub-menu-full a:hover{
    text-decoration: underline;
}






/* index page */
.full-container{
/* width: 90%;
height: 700px; */
width: 80%;
margin: auto;
display: grid;
grid-template-areas: 'squares squares squares squares aside aside'
'squares squares squares squares aside aside'
'under under under under aside aside' ;
grid-template-rows: 200px 200px 200px;
/* grid-template-columns: 200px 200px 250px; */
gap: 2%;
/* background-color: rgba(194, 177, 177, 0.753); */
padding: 10px;
/* border-radius: 50%; */
/* position:sticky; */

}
.squares-container{
    /* this is a nested grid */
    width: 100%;
    height: 100%;
    grid-area: squares;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 50% auto;
    /* grid: auto auto; */
    gap: 2%;
    
 /* height: 70%;
 width: 70%;
 display: grid;
 grid-template-columns: 45% auto;
 column-gap: 10%;
 row-gap: 10%; */
 
 /* grid-template-rows: repeat(2, 1fr); */
 
}
.container-item{
 /* border: 2px solid rgba(0,0,0,.3); */
 padding: 20px 0;
 background-color: rgba(194, 177, 177, 0.753);
 /* height: 30%; */
 border-radius: 21px;
}
.square{
/* grid-area: square; */
display: flex;
align-items: center;
justify-content: center;

/* padding: 20px; */
}

.under{
grid-area: under
}
.aside{
    grid-area: aside;
}

/* post page */
.all-blogs{
   width: 100%;
   color: rgb(18, 43, 29);
   padding: 3px;
   box-sizing: border-box;
   resize: horizontal;
   overflow: auto;
}

.one-blog { 
    width: 32%;
    background-color: rgba(194, 177, 177, 0.753);
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    border-radius: 7%;
    padding: 2%;
    float: left;
}

.fa-bars {
    display: none !important;
}

@media screen and (max-width: 500px) { 
    
    .one-blog{
        width: 90%;
        border-radius: 7%;
    }

    .fa-bars{
        display: block !important;
    }
    .nav-menu{
        display: none;
    }
}

@media screen and (max-width: 800px){
    .one-blog{
        width: 49%;
    }
}

.blog-title{
    
}

.blog-content{
  
}
.blog-content p{

}

.blog-media{
    display: flex;
    justify-content: center;
    border: 4px solid  rgb(18, 43, 29);
}

.blog-media img{
    width: 100%;  
}

.blog-response{
    border: 2px solid  rgb(18, 43, 29);
   
}


.blog-response p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.comments{
   
}
#comments{
    display: block;
}

.adding-comment{
    background-color: rgba(194, 177, 177, 0.753);
    border: none;
}

/* memory game */
.all-cards{
width: 100% ;
height: 500px;
display: flex;
flex-wrap: wrap;
margin: auto;
perspective: 1000px;
}

.one-card{
    border: 2px solid rgba(194, 177, 177, 0.753);
    color: rgba(194, 177, 177, 0.753);
    width: calc(22% - 10px);
    height: calc(33.33% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform-style: preserve-3d;
    transform: scale(1);
    transition: transform .5s;
    border-radius: 7%;
    max-width: 150px;
}

.one-card:active{
    transform: scale(0.97);
    transition: transform .2s;
}

.one-card.flip{
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 7%;
    backface-visibility: hidden;

}

.back-face{
    width: 100%;
    height: 100%;
}

.front-face{
    transform: rotateY(180deg);
    text-align: center;
}

/* .score-tracker {
    width: 25%;
    height: 300px;
    border: 2px solid rgba(194, 177, 177, 0.753);
    
} */


/* about */
.full-about{
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
}
.about-title{
    font-family: 'Poppins', sans-serif;
}
.about-sub,
 .contact-sub{
    font-weight: 400 !important; 
}
.about-body,
 .contact-body{
 font-weight: 300;
}