body{
    background-color:rgb(18, 43, 29);
    color: rgba(194, 177, 177, 0.753);
    /* display: flex; */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }



/* my-nav{
   display: flex;
} */


.nav-menu ul{
list-style: none;
display: flex;
justify-content: space-around;
margin-top: 25px;
padding-bottom: 25px;
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-weight: 700;
}



.nav-menu a{
    cursor: pointer;
   text-decoration: none;
   color:rgba(194, 177, 177, 0.753);
}

.nav-menu a:hover {
    text-decoration: underline;
}



.all-blogs{
   width: 100%;
   color: rgb(18, 43, 29);
   padding: 3px;
   box-sizing: border-box;
   resize: horizontal;
   overflow: auto;
   /* max-width: 100%; */
   /* height: calc(100vh-16px); */
}

.one-blog { 
    width: 32%;
    
    background-color: rgba(194, 177, 177, 0.753);
    
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    border-radius: 7%;
    padding: 2%;
    float: left;
/* font-weight: 300; */
}

.hamburger-icon {
    display: none !important;
}

@media screen and (max-width: 500px) { 
    /* .all-cards{
        width: 100%;
    }
    .one-card{
        width: 33%;
    } */
    .one-blog{
        width: 90%;
        border-radius: 7%;
    }

    .hamburger-icon{
        display: block !important;
    }
    .nav-menu{
        display: none;
    }
}

@media screen and (max-width: 800px){
    .one-blog{
        width: 49%;
    }
}

/* @media  screen and (max-width: 450px){ .full-blog{
    width: 90%;
}
} */


.blog-title{
    /* border: 2px solid rgb(18, 43, 29); */
    /* height: 8%; */
    /* width: 100%;
    font-weight: 400;
    text-align: center;
    padding: 0px 0px 15px 0px; */
}

.blog-content{
    /* border-top: 2px solid  rgb(18, 43, 29); */
    
    /* margin-top: 5px; */
    /* height: 50%; */
    
}
.blog-content p{
    
   /* padding-left: 3%;
   font-weight: 300; */
   /* border: 2px solid  rgb(18, 43, 29); */
}

.blog-media{
    display: flex;
    justify-content: center;
    border: 4px solid  rgb(18, 43, 29);
}

.blog-media img{
    width: 100%;  
}

.blog-response{
    border: 2px solid  rgb(18, 43, 29);
    /* border-bottom: 2px solid  rgb(18, 43, 29); */
    /* height: 8%;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly; */
}


.blog-response p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.comments{
    /* border: 2px solid  rgba(194, 177, 177, 0.753); */
    /* font-size: smaller;
    padding-left: 3%;
    height: 30%; */
    
}
#comments{
    display: block;
}

.adding-comment{
    background-color: rgba(194, 177, 177, 0.753);
    border: none;
}

/* .adding-comment:active{
    border: none;
} */

/* .full-game{
    display: flex;
    width: 100%;
} */

.all-cards{
width: 100% ;
/* float: left; */
height: 500px;
display: flex;
flex-wrap: wrap;
margin: auto;
perspective: 1000px;
}

.one-card{
    border: 2px solid rgba(194, 177, 177, 0.753);
    /* background-color: rgba(194, 177, 177, 0.753); */
    color: rgba(194, 177, 177, 0.753);
    /* padding: 5%; */
    width: calc(22% - 10px);
    height: calc(33.33% - 10px);
    margin: 5px;
    /* text-align: center; */
    /* border-radius: 7%; */
   /* display: inline-block; */
   position: relative;
   box-shadow: 1px 1px 1px rgba(0,0,0,.3);
   transform-style: preserve-3d;
   transform: scale(1);
   transition: transform .5s;
   border-radius: 7%;
}

.one-card:active{
    transform: scale(0.97);
    transition: transform .2s;
}

.one-card.flip{
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 7%;
    backface-visibility: hidden;

}

.back-face{
    /* width: 58%;
    height: 75%; */
    width: 100%;
    height: 100%;
}

.front-face{
    transform: rotateY(180deg);
    text-align: center;
}

/* .score-tracker {
    width: 25%;
    height: 300px;
    border: 2px solid rgba(194, 177, 177, 0.753);
    
} */